* {
	padding:0;
	margin:0;
}


.photos {
	background-repeat:no-repeat;
  	width: 100%;
  	height: 200px;
  	display: inline-block;
  	background-size: cover !important;
  	transition:all 1s;
}

.encart-description {
	margin-bottom: 40px;
  	border-bottom: 2px solid black;
}

.description {
	 height: 50px;
  	display: block;
  	font-family: 'Open Sans', sans-serif;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

.photos:hover {
	transform: scale(1.1);
}

a.button {
  color: white;
  background: black;
  padding: 5px;
  clear: both;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
}

h1 span {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		display: block;
}

.modif {
	border: none;
	color: gray;
	display: block;
	width: 500px;
	text-align: center;
	border-bottom: 1px solid black;
	margin: auto;
	margin-bottom: 35px;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 300;
}

form {
	text-align: center;
}

.search {
	display: inline-block !important;
}

.valid {
  background: none;
  border: none;
  background: black;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 18px;
  margin-top: 35px;
}

header {
	background-size: cover !important;
	height: 450px;
	margin-bottom: 96px;
}